@using Alex.Clients.Foursquare.Models
@using Alex.ViewModels.SwarmCalculator
@model StatsViewModel
@{
	ViewData["Title"] = "Swarm Calculator";
	var fsqItems = new List<IFoursquareItem>();
	fsqItems.AddRange(Model.Friends);
	fsqItems.AddRange(Model.Venues);
	fsqItems = fsqItems.OrderByDescending(i => i.Checkins).Take(3).ToList();
	var orderdFsqItems = new IFoursquareItem[3]
	{
		fsqItems[1],
		fsqItems[0],
		fsqItems[2]
	};
}

<div class="masthead segment swarm">
	<div class="ui container">
		<div class="introduction">
			<h1 class="ui inverted header">
				<span class="library">
					Swarm Calculator
				</span>
			</h1>
		</div>
	</div>
</div>

<div class="ui vertical segment">
	<div class="ui container">
		<h4 class="ui horizontal divider header">
			<i class="cubes icon"></i>
			Top 3
		</h4>

		<div id="top-items" class="ui three column grid">
			@{ var index = 0; }
			@foreach(var item in orderdFsqItems)
			{
				<div class="column">
					<div id="card-@index" class="ui fluid card">
						<div class="image">
							<fsq-photo photo="@item.Photo" size="512" />
						</div>
						<div class="content">
							<span class="header">
								@if (index == 0)
								{
									<i class="trophy icon grey"></i>
								}
								else if (index == 1)
								{
									<i class="trophy icon yellow"></i>
								}
								else if (index == 2)
								{
									<i class="trophy icon brown"></i>
								}

								@item.Name
							</span>
						</div>
						<div class="extra content">
							<span>
								<i class="users icon"></i>
								@item.Checkins checkins
							</span>
						</div>
					</div>
				</div>
				index++;
			}
		</div>

		<h4 class="ui horizontal divider header">
			<i class="fire icon"></i>
			Streaks
		</h4>

		<div class="ui horizontal segment">
			<div class="ui items">
				@foreach(var streak in Model.Streaks)
				{
					<div class="item">
						<div class="ui small image" style="background-color: #c7cdcf; border-radius: 0.125rem;">
							<fsq-photo photo="@streak.Item.Photo" size="512" />
						</div>
						<div class="content">
							<div class="header">@streak.Item.Name</div>
							<div class="meta">
								<span></span>
							</div>
							<div class="ui statistic">
								<div class="value">
									@streak.Length
								</div>
								<div class="label">
									@(streak.Length == 1 ? "Day" : "Days")
								</div>
							</div>
						</div>
					</div>
				}
			</div>

			@if (!Model.Streaks.Any())
			{
				<h2 class="ui center aligned icon header">
					<i class="circular users icon"></i>
					No Streaks :(
				</h2>
			}
		</div>
		
		<h4 class="ui horizontal divider header">
			<i class="bar chart icon"></i>
			Breakdown
		</h4>

		<div id="swarm-tabs" class="ui pointing secondary menu">
			<a class="active item" data-tab="swarm-friends">Friends</a>
			<a class="item" data-tab="swarm-venues">Venues</a>
		</div>
		<div class="ui active tab segment" data-tab="swarm-friends">
			<div class="ui items">
				@foreach(var friend in Model.Friends)
				{
					<div class="item">
						<div class="ui small image">
							<fsq-photo photo="@friend.Photo" size="500" />
						</div>
						<div class="content">
							<div class="header">@friend.FirstName @friend.LastName</div>
							<div class="meta">
								<span>You have checked in @friend.CheckinsWith times with this friend</span>
							</div>
							<div class="description">
								<p>
									@friend.Bio
								</p>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
		<div class="ui tab segment" data-tab="swarm-venues">
			<div class="ui items">
				@foreach(var venue in Model.Venues)
				{
					<div class="item">
						<div class="ui small image" style="background-color: #c7cdcf; border-radius: 0.125rem;">
							<fsq-photo photo="@venue.Categories.FirstOrDefault()?.Icon" size="512" />
						</div>
						<div class="content">
							<div class="header">@venue.Name</div>
							<div class="meta">
								<span>You have @venue.CheckinsAt checkins here</span>
							</div>
							<div class="description">
								<p>
									@venue.Description
								</p>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
</div>

@section scripts {
	<script>
		$('#swarm-tabs .item').tab();
	</script>
}